@{
    ViewBag.Title = "SignUp";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/styles/styles.css" rel="stylesheet" type="text/css" />
@section scripts
    {
    <script>
        var basePath = "https://localhost:44382/";
            
        $(document).ready(function () {
            $("#btn-signup").click(function () {
                var a = $("#user").val();
                var b = $("#pswd").val();
                var d = $("#name").val();
                var c = $("#conf_pswd").val();
                if (a == "" || b == "" || c == "" || d == "") {
                    if (a == "") {
                        $("#errUsr").text("This field can't be empty");
                    }
                    else {
                        $("#errUsr").text("");
                    }
                    if (b == "") {
                        $("#errPas").text("This field can't be empty");
                    }
                    else {
                        $("#errPas").text("");
                    }
                    if (c == "") {
                        $("#errConf").text("This field can't be empty");
                    }
                    else {
                        $("#errConf").text("");
                    }
                    if (d == "") {
                        $("#errName").text("This field can't be empty");
                    }
                    else {
                        $("#errName").text("");
                    }
                }
                else if (b != c)
                {
                     $("#err").text("**Both passwords don't match**");
                }
                else {

                    var dataToSend = { "login": a, "password": b, "uname": d };
                    var settings = {
                        type: "POST",
                        dataType: "json",
                        url: basePath+ "api/UserData/InsertUser",
                        data: dataToSend,
                        success: myFunction,
                        error: OnError
                    }
                };
                $.ajax(settings);
                console.log("sent");
                return false;
            });
            function OnError() {
                console.log("err");
                alert("an error occured during signup");
            }
            function myFunction(r) {
                if (r.valid == true) {
                    console.log("welcome");
                    location.href = "https://localhost:44365/" + r.urlToRedirect;
                }
                else if (r.valid == false) {
                    if (r.exception1 == true) {
                        alert("exception");
                    }
                    $("#err").text(r.error);
                }
            }
        });

    </script>
    
    }
<h2>SignUp</h2>
<div class="container">
    <div id="myform">

        <div class="row">
            <div class="col-3">
                Name:
            </div>
            <div class="col-4">
                <input type="text" id="name" class="inp" name="_name" value="" required="required"> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="errName" style="color:red; font-style:italic"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Username:
            </div>
            <div class="col-4">
                <input type="text" id="user" class="inp" name="usr_name" value="" required="required"> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="errUsr" style="color:red;  font-style:italic;"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Password:
            </div>
            <div class="col-4">
                <input type="password" id="pswd" class="inp" value="" name="usr_pass" required="required"> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="errPas" style="color:red;  font-style:italic;"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Re-enter Password:
            </div>
            <div class="col-4">
                <input type="password" id="conf_pswd" class="inp" value="" name="usr_conf_pass" required="required"> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="errConf" style="color:red; font-style:italic;"></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <button id="btn-signup" name="btn" style="margin-top:20px;" class="btn btn-lg btn-primary btn-block">Sign Up</button>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="err" style="color:red;"></h5>
            </div>
        </div>
    </div>
</div>