@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/styles/styles.css" rel="stylesheet" type="text/css" />
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#btn-login").click(function () {
                var a = $("#user").val();
                var b = $("#pswd").val();
                if (a == "" || b == "") {
                    if (a == "") {
                        $("#errUsr").text("This field can't be empty");
                    }
                    else {
                        $("#errUsr").text("");
                    }
                    if (b == "") {
                        $("#errPas").text("This field can't be empty");
                    }
                    else {
                        $("#errPas").text("");
                    }
                }
                else {
                    var dataToSend = { "login": a, "password": b };
                    var settings = {
                        type: "POST",
                        dataType: "json",
                        url: "/User/Verify",
                        data: dataToSend,
                        success: myFunction,
                        error: OnError
                    }
                };
                $.ajax(settings);
                console.log("sent");
                return false;
            });
            function OnError() {
                console.log("err");
                alert("error occured during login");
            }
            function myFunction(r) {
                if (r.valid == true) {
                    console.log("welcome");
                    location.href = r.urlToRedirect;
                }
                else {
                    if (r.exception1 == true) {
                        alert("exception");
                    }
                    $("#err").text("**Invalid Username or Password**");
                }
            }
        });
    </script>
}
<h2>Login</h2>
<div class="container">
    <div id="myform">
        <div class="row">
            <div class="col-3">
                Username:
            </div>
            <div class="col-4">
                <input type="text" id="user" class="inp" name="usr_name" required="required"> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="errUsr" style="color:red;  font-style:italic;"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Password:
            </div>
            <div class="col-4">
                <input type="password" id="pswd" class="inp" name="usr_pass" required="required"> <br />
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="errPas" style="color:red;  font-style:italic;"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <button id="btn-login" name="btn" style="margin-top:20px;" class="btn btn-lg btn-primary btn-block">Log in</button>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h5 id="err" style="color:red;"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <form action='@Url.Content("~/User/SignUp")'>
                    <button id="signUp" type="submit" class="btn btn-lg btn-primary btn-block">
                        Tap to Sign Up
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>